:root{
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: var(--primary-font);
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--secondary-font);
}
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding:0;
}
@import url('./styles/LoginForm.css');